<div class="panel-heading">
  <h1 class="panel-title">
    <%= Spree.t(:rules) %>
  </h1>
</div>
<div id="rule_fields" class="panel-body">
  <%= form_tag spree.admin_service_fee_service_fee_rules_path(@service_fee), :remote => true, :id => 'new_service_fee_rule_form' do %>
      <div class="form-group">
        <%= label_tag :service_fee_rule_type, Spree.t(:add_rule_of_type) %>
        <%= select_tag('service_fee_rule[type]', availible_service_fee_rules(@service_fee), :class => 'select2') %>
      </div>
      <div class="form-actions">
        <%= button Spree.t(:add), 'plus', 'submit', class: "btn-success" %>
        <br/>
        <br/>
      </div>
  <% end %>

  <%= form_for @service_fee, :url => object_url, :method => :put do |f| %>
      <div class="actions">
        <div id="rules" class="filter_list margint">
          <% if @service_fee.rules.any? %>
              <%= render :partial => 'service_fee_rule', :collection => @service_fee.rules, :locals => {} %>
          <% else %>
              <div class="alert alert-warning no-objects-found">
                <%= Spree.t(:no_rules_added) %>
              </div>
          <% end %>
        </div>
        <%= button Spree.t('actions.update'), 'ok' %>
      </div>
  <% end %>
</div>